* {
  /* margin: auto; */
  /* padding: auto; */
  margin: 0.3rem;
  padding: 0.3rem;
  box-sizing: border-box;
}

body {
  font-family: cursive;
  background-color: rgb(208, 245, 245);
  color: rgb(10, 10, 51);
}

.booklist {
  width: 90vw;
  max-width: 117px;
  display: grid;
  gap: 1rem;
}

@media screen and (min-width: 480px) {
  .booklist {
    grid-template-columns: repeat(3, 1fr);
  }
}

.book {
  padding: auto;
  /* padding: 0rem 0rem; */
  border-radius: 0.4rem;
  background-color: aqua;
  border-inline-color: black;
}
.book h1 {
  margin-top: 1rem;
  padding: 0;
  background-color: aquamarine;
  border-radius: 0.3rem;
}
.book h4 {
  margin-top: 1rem;
  padding: 0;
  background-color: aquamarine;
  border-radius: 0.3rem;
  margin-top: 0.1rem;
  color: blue;
  font-size: 0.7rem;
}

.btn-ex{
  padding: 0.2rem;
  border-color: green;
  border-width: 0.3rem;
  border-radius: 0.3rem;
  border-style: inset;
}